<ion-view title="用户中心" cache-view="false">
<ion-content>
 <div class="list card">
   <div class="item item-divider"> 
    设置
  </div>
   <ion-toggle 
            ng-model="offline.checked" 
            ng-checked="offline.checked" ng-change="offlineChange()">是否离线模式</ion-toggle>
  <a class="item item-icon-left" ng-click="modal.show()">
    <i class="icon ion-key"></i>
    密码修改
  </a>
    <a class="item item-icon-left" ng-click="exit()">
    <i class="icon ion-android-exit"></i>
    退出登录
  </a>
 </div>
</ion-content>
</ion-view>