<ion-view title="基站1勘察项目">
<ion-content>
    <div class="list card">
        <a href="#/tab/checkin" class="item item-icon-left"> <i class="icon ion-ios7-telephone"></i>
            现场签到
        </a>
        <a href="#/tab/form" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            信息采集
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            图片采集
        </a>
    </div>
        <div class="list card">
        <a href="#/tab/checkin" class="item item-icon-left"> <i class="icon ion-ios7-telephone"></i>
            信息沟通
        </a>
    </div>
</ion-content>
</ion-view>