<ion-view title="勘察内容">
<ion-content>
    <div class="list card">
        <a ng-href="#/tab/checkin/{{item.TaskId}}/{{item.SiteId}}" class="item item-icon-left"> <i class="icon ion-location"></i>
            现场签到
            <span class="item-note">{{item.SignStatus | signstatus}}</span>
        </a>
        <a ng-href="#/tab/infotypes/{{item.TaskId}}/{{item.SiteId}}" class="item item-icon-left" ng-if="item.SignStatus=='1'">
            <i class="icon ion-document-text"></i>
            信息采集
            <span class="item-note">({{item.PropertyDoneNum}}/{{item.PropertyNum}})</span>
        </a>
        <a  class="item item-icon-left" ng-if="item.SignStatus=='0'" ng-click="tip()">
            <i class="icon ion-document-text"></i>
            信息采集
            <span class="item-note">({{item.PropertyDoneNum}}/{{item.PropertyNum}})</span>
        </a>
        <a ng-href="#/tab/imagetypes/{{item.TaskId}}/{{item.SiteId}}" class="item item-icon-left" ng-if="item.SignStatus=='1'">
            <i class="icon ion-images"></i>
            图片采集
            <span class="item-note">({{item.PicDoingNum}}/{{item.PicTotalNum}})</span>
        </a>
        <a class="item item-icon-left" ng-if="item.SignStatus=='0'" ng-click="tip()">
            <i class="icon ion-images"></i>
            图片采集
            <span class="item-note">({{item.PicDoingNum}}/{{item.PicTotalNum}})</span>
        </a>

    </div>
        <div class="list card">
        <a href="#/tab/period/{{item.TaskId}}/{{item.SiteId}}" class="item item-icon-left" ng-if="item.SignStatus=='1'"> <i class="icon ion-ios-list"></i>
            往期数据
        </a>
        <a class="item item-icon-left" ng-if="item.SignStatus=='0'" ng-click="tip()"> <i class="icon ion-ios-list"></i>
            往期数据
        </a>
        <a href="#/tab/talk/{{item.TaskId}}" class="item item-icon-left"> <i class="icon ion-ios-chatboxes"></i>
            信息沟通
        </a>
    </div>
</ion-content>
</ion-view>