<ion-view title="{{PropertylName}}">
	<ion-content>
	<div ng-repeat="item in items">
		<a class="item item-input item-icon-right" ng-if="displayHref" ng-href="#/tab/baseform/{{item.TaskId}}/{{item.SiteId}}/{{item.TypeID}}/{{item.PropertyID}}/1/{{item.PropertylName}}/{{PropertyID}}">
			<span class="input-label">{{item.PropertylName}}</span> 
			<input type="text" id="{{item.IsPropertyGroup}}" readonly="readonly" style="background-color:#ffffff;cursor:default" value="{{item.Defaults}}"> 
		</a>
		<a class="item item-input item-icon-right" ng-if="!displayHref">
			<span class="input-label">{{item.PropertylName}}</span> 
			<input type="text" id="{{item.IsPropertyGroup}}" readonly="readonly" style="background-color:#ffffff;cursor:default" value="{{item.Defaults}}"> 
		</a>
	</div>
	</ion-content>
</ion-view>