<ion-view title="图片列表">
<ion-nav-buttons side="secondary">
	<button class="button" ng-click="imageUpload()" ng-if="displayHref">新增图片</button>
</ion-nav-buttons>
<ion-content>

    <ion-list>
    	<ion-item ng-repeat="item in items"
            class="item-thumbnail-left">
            <img src="img/nopic.png" ng-if="item.SmallPicPath==''">
            <img ng-src="{{web_host}}{{item.SmallPicPath}}" ng-if="item.SmallPicPath!=''" ng-click="photoSwipe(item)">
    		<h2>{{item.PicName}}</h2>
    		<p ng-style="item.PicStatus | imagecheckstatuscolor">{{item.PicStatus | imagecheckstatus}}</p>
            <p>{{item.UploadDate}}</p>
    		<ion-option-button class="icon-left ion-plus-circled button-balanced"
                       ng-click="upImage(item)" ng-if="displayHref && (item.PicStatus!='2')">上传</ion-option-button>
    		<ion-option-button class="icon-left ion-close-circled button-assertive"
                       ng-click="delImage(item)" ng-if="displayHref && (item.PicStatus!='2')">删除</ion-option-button>
    	</ion-item>
    </ion-list>
</ion-content>
</ion-view>