<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">图片上传</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="list padding">
			<label class="item item-input">
				<span class="input-label">图片名称</span>
				<input ng-model="modal.PicName" type="text"></label>
		</div>
		<div class="row">
			<div class="col">
				<button class="button icon-left ion-camera button-full button-positive" ng-click="cameraEvent()">拍照</button>
			</div>
			<div class="col">
				<button class="button icon-left ion-images button-full button-positive" ng-click="albumEvent()">相册</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>