<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="待勘察" icon="ion-android-download" href="#/tab/wait">
    <ion-nav-view name="wait-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="勘察中" icon="ion-android-upload" href="#/tab/working">
    <ion-nav-view name="working-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="已勘察" icon="ion-android-cloud-done" href="#/tab/already">
    <ion-nav-view name="already-tab"></ion-nav-view>
  </ion-tab>
   <ion-tab title="用户" icon="ion-person" href="#/tab/account">
    <ion-nav-view name="account-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>