<ion-view title="信息沟通">
	<ion-content>
<div class="list card">
  <div class="item item-avatar" ng-repeat="item in items">
  	<img src="img/contact.png">  
  	<h2>{{item.RealName}}</h2>
  	<p>{{item.Mobile}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
  	<a class="tab-item" ng-href="tel:{{item.Mobile}}"> <i class="icon ion-iphone"></i>
  		手机
  	</a>
  	<a class="tab-item" ng-href="smsto:{{item.Mobile}}"> <i class="icon ion-android-textsms"></i>
  		短信
  	</a>
  	<a class="tab-item" ng-click="doWeixin()">
  		<i class="icon ion-chatbubble-working"></i>
  		微信
  	</a>
  </div>

  </div>
	</ion-content>
</ion-view>