<ion-view title="勘察中">
<ion-content>
 <ion-refresher on-refresh="doRefresh()"></ion-refresher>
  <ion-list>
      <ion-item ng-repeat="item in items" ng-href="#/tab/station?TaskId={{item.TaskId}}" style="padding:8px;">
      	<div class="row" style="padding:0px;">
      		<div class="col col-75">
      			<h2>{{item.TaskName}}</h2>
      			<p>2015-03-18</p>
      		</div>
      		<div class="col" style="text-align:right;">
      			<a class="ion-chevron-right"><span class="badge badge-assertive">34</span></a>
      		</div>
      	</div>
      </ion-item>
  </ion-list>
</ion-content>
</ion-view>